<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>detail_bike</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="slot">
    
    <ion-avatar style=" margin: auto; width:100% !important; height : 100% !important; max-width: 130px !important;max-height: 130px">
          <img style="align-items: center;" [src]="bike_detail[0].image" />
      </ion-avatar>
      


<ion-item>
    <ion-label padding>{{ bike_detail[0].name }}</ion-label>

    <ion-label padding>{{ bike_detail[0].plate }}</ion-label>
</ion-item>

</ion-content>
